<div class="dx-field">
	<!-- <div class="dx-field-label">Временное разрешение:</div> -->
	<div class="dx-field-value-radio">
			<dx-radio-group #eventRadioGroup
					id="radio-group-with-selection"
					(click)="getClick()"
					[items]="resolutions"
					[value]="resolution"
					(onValueChanged)="onValueChanged($event)"
					layout="horizontal">
			</dx-radio-group>
	</div>
</div>
<dx-chart
	*ngIf="!empty"
	id="chart"
	title="{{companyName}}"
	[dataSource]="stockCandles">
	<dxi-series
			name="prices"
			openValueField="o"
			highValueField="h"
			lowValueField="l"
			closeValueField="c">
			<dxo-reduction color="red"></dxo-reduction>
			<dxo-aggregation [enabled]="true"></dxo-aggregation>
	</dxi-series>
	<dxo-common-series-settings
			argumentField="t"
			type="candlestick">
	</dxo-common-series-settings>
	<dxo-legend itemTextPosition="left"></dxo-legend>
	<dxi-value-axis [tickInterval]="1">

			<dxo-title text="US dollars"></dxo-title>
			<dxo-label>
					<dxo-format
							type="currency"
							[precision]="1">
					</dxo-format>
			</dxo-label>
	</dxi-value-axis>
	<dxo-argument-axis [workdaysOnly]="true" [visualRange]="visualRange" >
			<dxo-label format="shortDate"></dxo-label>
	</dxo-argument-axis>
	<dxo-export [enabled]="true"></dxo-export>
	<dxo-tooltip
			[enabled]="true"
			location="edge"
			[customizeTooltip]="customizeTooltip">
	</dxo-tooltip>

</dx-chart>
<dx-range-selector
[dataSource]="stockCandles"
[(value)]="visualRange">
<dxo-size [height]="120"></dxo-size>
<dxo-scale
		minorTickInterval="day"
		tickInterval="month"
		valueType="datetime"
		aggregationInterval="day"
		[placeholderHeight]="20">
</dxo-scale>
<dxo-behavior
		callValueChanged="onMoving"
		[snapToTicks]="false">
</dxo-behavior>
<dxo-chart>
		<dxo-value-axis valueType="numeric"></dxo-value-axis>
		<dxi-series
				type="line"
				valueField="o"
				argumentField="t">
				<dxo-aggregation [enabled]="true"></dxo-aggregation>
		</dxi-series>
</dxo-chart>
</dx-range-selector>
<div class="under-charts">
	<div class="date-time-fields">
		<div class="dx-field">
				<div class="dx-field-label">Date Interval From</div>
				<div class="dx-field-value">
						<dx-date-box
								[value]="from"
								(onValueChanged)="onDateFromChanged($event)"
								type="datetime">
						</dx-date-box>
				</div>
		</div>
		<div class="dx-field">
				<div class="dx-field-label">Date Interval To</div>
				<div class="dx-field-value">
						<dx-date-box
								[value]="to"
								(onValueChanged)="onDateToChanged($event)"
								type="datetime">
						</dx-date-box>
				</div>
		</div>
	</div>
	<div class="dx-button-class">
		<dx-button
				id="button"
				[height]="40"
				[width]="280"
				(onClick)="getClick()"
				[visible]="stockCandles"
				>
				<div *dxTemplate="let data of 'content'">
						<dx-load-indicator class='button-indicator'
								[visible]="loadIndicatorVisible">
						</dx-load-indicator>
						<span class='dx-button-text'>{{buttonText}}</span>
				</div>
		</dx-button>
	</div>

</div>
